<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Team Clueless | AQI | Graphs</title>
  <!-- Favicons -->
  <link href={{ url_for('static',filename='img/favicon.png' )}} rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css' )}} rel="stylesheet">
  <link href={{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css' )}} rel="stylesheet">
  <link href={{ url_for('static',filename='vendor/boxicons/css/boxicons.min.css' )}} rel="stylesheet">
  <link href={{ url_for('static',filename='vendor/remixicon/remixicon.css' )}} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={{ url_for('static',filename='css/style.css' )}} rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <!--Start Logo-->
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
      <a href="/home" class="logo d-flex align-items-center">
        <img src={{ url_for('static',filename='img/logo.png' )}} alt="">
      </a>
    </div>
    <!-- End Logo -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- Start Dashboard Nav-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('home')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <!-- Start About This Page Nav-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('about_this')}}">
          <i class="bi bi-question-circle"></i>
          <span>About This</span>
        </a>
      </li>
      <!-- End About This Page Nav -->
    
      <!-- Start AQI Nav-->
      <li class="nav-item">
        <a class="nav-link" data-bs-target="#aqi-nav"data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>AQI</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="aqi-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('aqi_graph')}}" class="active">
              <i class="bi bi-circle"></i><span>Graphs</span>
            </a>
          </li>
        </ul>
      </li>
       <!-- End AQI Nav -->



      <!-- Start About Us Page Nav-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('about_us')}}">
          <i class="bi bi-people-fill"></i>
          <span>About Us</span>
        </a>
      </li>
      <!-- End About Us Page Nav -->
    </ul>
  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Predicted AQI Values</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
          <li class="breadcrumb-item">AQI</li>
          <li class="breadcrumb-item active">Graphs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">


      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Area Chart</h5>

            <!-- Area Chart -->
            <div id="areaChart"></div>

            <script>
              let alipur_co_future = 0;
              let alipur_pm25_future = 0;
              let alipur_pm10_future = 0;
              let alipur_o3_future = 0;
              let alipur_no2_future = 0;
              let alipur_so2_future = 0;
              let date_co = 0;
              fetch('/get_data')
                  .then(response => response.json())
                  .then(data => {
                      alipur_co_future = data.alipur_co_future;
                      alipur_pm25_future = data.alipur_pm25_future;
                      alipur_pm10_future = data.alipur_pm10_future;
                      alipur_o3_future = data.alipur_o3_future;
                      alipur_no2_future = data.alipur_no2_future;
                      alipur_so2_future = data.alipur_so2_future;
                      date = data.date;
                  })
                  .catch(error => console.error('Error:', error));

            



              document.addEventListener("DOMContentLoaded", () => {
                const series = {
                  "CO": {
                    "alipur_co_future": alipur_co_future,
                    "date": date
                  },
                  "PM 2.5": {
                    "alipur_pm25_future": alipur_pm25_future,
                    "date": date
                  },
                  "PM 10": {
                    "alipur_pm10_future": alipur_pm10_future,
                    "date": date
                  },
                  "O3": {
                    "alipur_o3_future": alipur_o3_future,
                    "date": date
                  },
                  "NO2": {
                    "alipur_no2_future": alipur_no2_future,
                    "date": date
                  }
                }
                new ApexCharts(document.querySelector("#areaChart"), {
                  series: [{
                    name: "Carbon Monoxide",
                    data: alipur_co_future
                  },
                  {
                    name: "PM 2.5",
                    data: alipur_pm25_future
                  },
                  {
                    name: "PM 10",
                    data: alipur_pm10_future
                  },
                  {
                    name: "O3",
                    data: alipur_o3_future
                  },
                  {
                    name: "NO2",
                    data: alipur_no2_future
                  }],
                  chart: {
                    type: 'area',
                    height: 350,
                    zoom: {
                      enabled: true
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  stroke: {
                    curve: 'straight'
                  },
                  subtitle: {
                    text: 'AQI',
                    align: 'center'
                  },
                  labels: date,
                  xaxis: {
                    type: 'date',
                    labels: {
                    datetimeFormatter: {
                      year: 'yyyy',
                    }
                  }
                  },
                  yaxis: {
                    opposite: false
                  },
                  legend: {
                    horizontalAlign: 'center'
                  },
                  tooltip: {
                    y: {
                      formatter: function(val) {
                        return (Math.round(val * 100) / 100).toFixed(3);
                      }
                    }
                  }
                }).render();
              });
            </script>
            <!-- End Area Chart -->

          <!-- Default Card -->

          <div class="row">
          <div class="col-lg-6">


          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Predicted Values</h5>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Pollutant</th>
                    <th scope="col">Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>PM 2.5</td>
                    <td>191</td>
                  </tr>
                  <tr>
                    <td>PM 10</td>
                    <td>125</td>
                  </tr>
                  <tr>
                    <td>O3</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>NO2</td>
                    <td>31</td>
                  </tr>
                  <tr>
                    <td>SO</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>CO</td>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- End Default Card -->
          </div>

          <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Real Time Values</h5>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Pollutant</th>
                    <th scope="col">Observed Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>PM 2.5</td>
                    <td>267</td>
                  </tr>
                  <tr>
                    <td>PM 10</td>
                    <td>173</td>
                  </tr>
                  <tr>
                    <td>O3</td>
                    <td>1.9</td>
                  </tr>
                  <tr>
                    <td>NO2</td>
                    <td>22.9</td>
                  </tr>
                  <tr>
                    <td>SO</td>
                    <td>3.1</td>
                  </tr>
                  <tr>
                    <td>CO</td>
                    <td>8.9</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- End Default Card -->
        </div>
      </div>

          </div>
        </div>
      </div>


        <div class="row">
                      <!-- Default Card -->
            
          <div class="card">
            <div class="card-body inference">
              <h5 class="card-title">Inference</h5>
              The above graph shows the comparison of AQI between each city for all the twelve month in 2023.
              From this graph we can infer which city has the worst AQI and better AQI
            </div>
          </div><!-- End Default Card -->

        </div>



          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="aqitrendheading">
        <h1>AQI Trend Among Cities</h5>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Legend</h5>
            
            <img src={{ url_for('static',filename='img/aqi_legend.png' )}} class="card-img-bottom legend" alt="">


          </div>
        </div>
      </div>

  
            



      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Radar Chart</h5>

            <!-- Radar Chart -->
            <div id="radarChart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radarChart"), {
                  series: [{
                    name: 'CO',
                    data: alipur_co_future
                  }, {
                    name: 'O3',
                    data: alipur_o3_future
                  },
                  {
                    name: 'NO2',
                    data: alipur_no2_future
                  },
                  {
                    name: 'SO2',
                    data: alipur_so2_future
                  }],
                  chart: {
                    height: 350,
                    type: 'radar',
                  },
                  
                  xaxis: {
                    categories: date
                  }
                }).render();
              });
            </script>
            <!-- End Radar Chart -->

          </div>
        </div>
      </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      Team Clueless | Virtusa | Pragyan Hackathon
    </div>

  </footer>
  <!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src={{ url_for('static',filename='vendor/apexcharts/apexcharts.min.js')}} "></script>
  <script src={{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}} "></script>
  <script src={{ url_for('static',filename='vendor/chart.js')}} /chart.umd.js')}} "></script>
  <script src={{ url_for('static',filename='vendor/echarts/echarts.min.js')}} "></script>

  <!-- Template Main JS File -->
  <script src={{ url_for('static',filename='js/main.js')}} "></script>

</body>

</html>